<%@ Master Language="C#" AutoEventWireup="true" CodeBehind="User.master.cs" Inherits="Connect.QU.UII.User.User" %>

<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
    <title></title>
    <link rel="stylesheet" href="../css/style.css" />
    <link rel="stylesheet" href="../css/bootstrap.min.css" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css" />
    <link rel="stylesheet" href="https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css" />
    <link rel="stylesheet" href="../css/daterangepicker-bs3.css" />
    <link rel="stylesheet" href="../css/all.css" />
    <link rel="stylesheet" href="../css/select2.min.css" />
    <link rel="stylesheet" href="../css/AdminLTE.min.css" />
    <link rel="stylesheet" href="../css/skin-blue.min.css" />
    <script src="../js/jQuery-2.1.4.min.js"></script>
    <link rel="stylesheet" href="../css/pgwmodal.css" />
    <script src="../js/pgwmodal.js" type="text/javascript"></script>
    <asp:ContentPlaceHolder ID="head" runat="server">
    </asp:ContentPlaceHolder>
</head>
<body class="hold-transition skin-blue sidebar-mini">
    <form id="Form1" runat="server">
        <div class="wrapper">
            <header class="main-header">
                <!-- Logo -->
                <a href="index.html" class="logo">
                    <!-- mini logo for sidebar mini 50x50 pixels -->
                    <span class="logo-mini"><b>EA</b></span>
                    <!-- logo for regular state and mobile devices -->
                    <span class="logo-lg"><b>Enhanced </b>System</span>
                </a>
                <!-- Sidebar toggle button-->
                <a href="#" class="sidebar-toggle" data-toggle="offcanvas" role="button"><span class="sr-only">Toggle navigation</span> </a>
                <!-- Header Navbar: style can be found in header.less -->
                <nav class="navbar navbar-static-top" role="navigation">
                    <div class="col-md-12 col-md-header">
                        <a href="../Redirect.aspx" class="logo">
<%--                            <img src="../images/Connectlogo.JPG" width="115" alt="Logo" />--%>
                            <img src="../images/Connectlogo.JPG" width="80" alt="Logo" /> 


                            <!-- mini logo for sidebar mini 50x50 pixels -->
                            <span class="logo-mini"><b>QU</b></span>
                            <!-- logo for regular state and mobile devices -->
                            <span class="logo-lg"><b>Connect</b>CCPL</span>
                        </a>
                        <!-- Navbar Right Menu -->
                        <div class="navbar-custom-menu">
                            <ul class="nav navbar-nav">

                                <li class="dropdown user user-menu">
                                    <a href="#" class="dropdown-toggle" data-toggle="dropdown"><span class="pull-left">Welcome&nbsp;&nbsp;</span>
                                        <img src="../images/user.png" class="user-image" alt="User Image"/>
                                        <span class="hidden-xs"><%=UserName %></span> 

                                    </a>
                                    <ul class="dropdown-menu">
                                        <!-- User image -->
                                        <li class="user-header">
                                            <img src="../images/user.png" class="img-circle" alt="User Image"/>
                                            <p>Name - <%=UserName %>  </p>
                                        </li>

                                        <!-- Menu Footer-->
                                        <li class="user-footer">
                                            <div class="pull-left"><a href="javascript:void(0)" data-toggle="dropdown" class="btn btn-default btn-flat">Close</a> </div>
                                            <div class="pull-right"><a href="../LogOff.aspx" class="btn btn-default btn-flat"><i class="fa fa-sign-out fa-fw"></i>Sign Out</a> </div>
                                        </li>
                                    </ul>
                                </li>
                                <li><a href="#"><i class="fa fa-calendar fa-fw"></i>Today : <span id="CurrentDateId"></span></a></li>
                                <li><a href="../LogOff.aspx"><i class="fa fa-sign-out fa-fw"></i>Sign Out </a></li>
                                <!-- User Account: style can be found in dropdown.less -->
                            </ul>
                        </div>
                    </div>
                </nav>
            </header>
        </div>
        <div>
            <asp:ContentPlaceHolder ID="EAWarpper" runat="server">
            </asp:ContentPlaceHolder>
            <!-- /.content-wrapper -->
            <footer class="main-footer text-center">
                <strong>Copyright &copy; 2020 <a href="#">Connect Compusys Pvt Ltd</a>.</strong> All rights reserved.
            </footer>
        </div>
    </form>
</body>
</html>
