#overlay {
    position: fixed;
    top: 0;
    z-index: 100;
    width: 100%;
    height: 100%;
    display: none;
    background: rgba(0,0,0,0.6);
}

.cv-spinner {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.spinner {
    width: 60px;
    height: 60px;
    border: 4px #ddd solid;
    border-top: 4px #2e93e6 solid;
    border-radius: 50%;
    animation: sp-anime 0.8s infinite linear;
}

@keyframes sp-anime {
    100% {
        transform: rotate(360deg);
    }
}

.is-hide {
    display: none;
}














/*Common Application Form
    ----------------------------------- 
    Updated on Mar 07 2021
    -------------------------------*/
.FormHeader {
    text-align: center;
    margin: 15px auto;
}

    .FormHeader h2, .FormHeader h4, .FormHeader h5, .FormHeader p {
        text-align: center;
        margin-top: 2px;
        margin-bottom: 2px;
    }

    .FormHeader h4 {
        text-decoration: underline;
    }

#ApplicationForm {
    padding: 0;
    border: 0px solid #ddd;
    width: 100%;
    margin: 0 auto;
}

    #ApplicationForm .list-inline > li {
        display: block;
    }

    #ApplicationForm .APLogo {
        max-width: 255px;
    }

    #ApplicationForm .HR2App {
        border: 1px solid #555;
    }

    #ApplicationForm .AppFormBody input[type='text'], .PasswordControl {
        height: 25px;
        color: #1b2cef;
        width: 100%;
    }

    #ApplicationForm .AppFormdatetimepicker .form-control {
        height: 34px !important;
        box-shadow: none;
        border-radius: 0;
    }

    #ApplicationForm .AppFormdatetimepicker .input-group-addon {
        border-radius: 0;
    }

    #ApplicationForm .AppFormTxtArea {
        margin: 40px auto;
    }

        #ApplicationForm .AppFormTxtArea p {
            margin: 10px 0 0;
        }

@media (min-width: 480px) {
    #ApplicationForm {
        padding: 10px;
        border: 2px solid #ddd;
        width: 90%;
        margin: 20px auto;
    }
}

@media (min-width: 768px) {
    #ApplicationForm .AppFormBody .AppX input[type='text'], .PasswordControl {
        border: none;
        height: 30px;
        border-bottom: 1px solid #999;
        color: #1b2cef;
        width: auto;
    }
}

@media (min-width: 768px) {
    #ApplicationForm .AppFormBody .APPTest input[type='text'], .PasswordControl {
        border: none;
        height: 30px;
        border-bottom: 1px solid #999;
        color: #1b2cef;
    }
}

#ApplicationForm .list-inline > li {
    display: inline-block;
}

#ApplicationForm .AppFormdatetimepicker .form-control {
    border: none;
    box-shadow: 0 0 0 0;
    border-radius: 0;
    border-bottom: 1px solid #555;
    height: 30px;
}

#ApplicationForm .AppFormdatetimepicker .input-group-addon {
    background: transparent;
    border: 0;
    border-bottom: 1px solid #999 !important;
    border-radius: 0;
}


.text-bold {
    font-weight: bold;
}

.QS-Block {
    border: 1px solid #999;
    margin: 5px 0;
    padding: 5px;
    box-shadow: 3px 5px 6px #ddd;
}

    .QS-Block .QSoption-List input[type='radio'] {
        margin: 0 3px;
    }

table, td, th {
    border: 1px solid black;
}

table {
    width: 100%;
    border-collapse: collapse;
}

#watermark {
    color: beige;
    font-size: 131pt;
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    position: absolute;
    width: 100%;
    margin: 0;
    z-index: -1;
    left: -100px;
    top: -200px;
}

.paginate_button {
    margin-left: 1%;
}

.hello {
    width: 100% !important;
}

.label1 {
    display: inline-block;
    max-width: 24%;
    margin-bottom: 5px;
    margin-top: 1%;
    font-weight: 700;
    width: 9%;
    text-align: right;
    margin-right: 1%;
}

label.error {
    float: none;
    color: red;
    padding-left: .5em;
    vertical-align: top;
}
       .modal-title {
            text-align: center;
        }